body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.parameter {
  width: 90%;
}

#form {
  width: 100%;
  display: flex;
  /* padding: 30px; */
}

#form1 {
  padding: 30px;

  width: 40%;
  border: solid black 2px;

  /* border: solid black 2px; */
  /* display: flex;
  justify-content: space-around; */
  /* padding: 30px; */
}

#bodySingIn {
  display: flex;
  justify-content: space-around;
}

.form1_2 {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #888;
  border: solid rgb(227, 77, 77) 2px; */

}

#buttons {
  width: 100%;
  text-align: center;
  /* display: flex;
  justify-content: space-around; */
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=email],
input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.buttonEnter,.cancelbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.buttonEnter:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
 
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}