
#calen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    direction: rtl;
}
.buttonsToMoveInCalander{
    height: 35px;
    font-size: 15px;
    text-align: center;
    margin: 7px;
}